[Desktop Entry]
Name=PyCharm
GenericName=PyCharm - The intelligent Python IDE
Exec=pycharm
Terminal=false
Icon=pycharm
Type=Application
Categories=Development;
X-Desktop-File-Install-Version=0.21
